.title-transfer{
    margin: 20px;
}
h2{
    margin-top: 120px;
    font-family: 'Poppins', sans-serif, 'arial';
    font-weight: 600;
    font-size: 25px;
    color: rgb(0, 0, 0);
    background-color: #0000002c;
    align-items: center;
    text-align: center;
    padding: 10px;
    text-transform: uppercase;
}
h3{
    margin: 20px;
    font-family: 'Poppins', sans-serif, 'arial';
    font-weight: 600;
    font-size: 20px;
    color: rgb(0, 0, 0);
    text-align: center;
    text-transform: uppercase;
}
.container-transfer{
    margin: 20px;
    border-radius: 20px;
    padding-top: 100px;
    padding: 5px;
    background-color: rgba(153, 153, 153, 0.61);
    text-align: center;
}
.container-transfer label{
    text-align: center;
    font-size: 19px;
    font-weight: 600;
    margin: 20px;
}
.transferto
{
    margin: 20px;
    margin-top: 40px;
}
button{
    
	left: 50%;
    top: 50%;
    -ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
    margin: 40px;
 	color: black;
  	border: 1px solid darkblue;
  	border-radius: 10px;
  	padding:10px;
}
button:hover{
	background-color: rgb(61, 184, 225);
	color: rgb(0, 0, 0);
	transition: .5s;
	cursor: pointer;
}